In [1]:
##### Categories to classify into: BUSINESS, ENTERTAINMENT, HEALTH, SCIENCE, SPORTS, TECH, U.S. NEWS, WORLD NEWS

###### Data from "RishabhMisraHuffPostDataset" & "GoogleNewsDataset"

###### BUSINESS - 13444
###### Entertainment - 9163
###### HEALTH - 6694
###### SCIENCE - 6565
###### SPORTS - 13306
###### TECH - 9037
###### U.S. NEWS - 10377
###### WORLD NEWS - 10328
###### Total - 78914

In [2]:
import pandas as pd
df = pd.read_csv("../data/7TrainingData.csv")
df

,_id,category,headline
0,65583f2abf0ca14ca2d80f26,HEALTH,To The People Who Say ‘I’m Tired’ When Someone...
1,65583f2abf0ca14ca2d80f99,HEALTH,Eating Shake Shack Made Me Feel Healthier Than...
2,65583f2abf0ca14ca2d80fcf,HEALTH,How To Stay Updated On The News Without Losing...
3,65583f2abf0ca14ca2d81083,HEALTH,27 Perfect Tweets About Whole30 That Will Make...
4,65583f2abf0ca14ca2d8108a,HEALTH,The Real Reason Your Hands Are Always Cold
...,...,...,...
78909,65591705853abc5434790ea8,U.S. NEWS,4 events worth checking out in Cleveland this ...
78910,65591705853abc5434790ea9,U.S. NEWS,Oklahoma regent resigns after reelection as vi...
78911,65591705853abc5434790eb1,U.S. NEWS,"Greensboro Woman Hit, Killed While Trying to H..."
78912,65591705853abc5434790eb7,U.S. NEWS,New Jersey Police Officer running NYC Marathon...
78913,65591705853abc5434790ebd,U.S. NEWS,Sea of Pink: 26th annual breast cancer walk br...

In [3]:
df.drop(columns=["_id"], inplace=True)
df

        category                                           headline
0         HEALTH  To The People Who Say ‘I’m Tired’ When Someone...
1         HEALTH  Eating Shake Shack Made Me Feel Healthier Than...
2         HEALTH  How To Stay Updated On The News Without Losing...
3         HEALTH  27 Perfect Tweets About Whole30 That Will Make...
4         HEALTH         The Real Reason Your Hands Are Always Cold
...          ...                                                ...
78909  U.S. NEWS  4 events worth checking out in Cleveland this ...
78910  U.S. NEWS  Oklahoma regent resigns after reelection as vi...
78911  U.S. NEWS  Greensboro Woman Hit, Killed While Trying to H...
78912  U.S. NEWS  New Jersey Police Officer running NYC Marathon...
78913  U.S. NEWS  Sea of Pink: 26th annual breast cancer walk br...

[78914 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
label = le.fit_transform(df["category"])

df.drop(columns=["category"], inplace=True)

df["category"] = label
df

                                                headline  category
0      To The People Who Say ‘I’m Tired’ When Someone...         2
1      Eating Shake Shack Made Me Feel Healthier Than...         2
2      How To Stay Updated On The News Without Losing...         2
3      27 Perfect Tweets About Whole30 That Will Make...         2
4             The Real Reason Your Hands Are Always Cold         2
...                                                  ...       ...
78909  4 events worth checking out in Cleveland this ...         6
78910  Oklahoma regent resigns after reelection as vi...         6
78911  Greensboro Woman Hit, Killed While Trying to H...         6
78912  New Jersey Police Officer running NYC Marathon...         6
78913  Sea of Pink: 26th annual breast cancer walk br...         6

[78914 rows x 2 columns]

In [5]:
import en_core_web_lg

nlp = en_core_web_lg.load()

def nlpify(text):
    text = str(text)
    return nlp(text).vector

df["headline"] = df["headline"].apply(nlpify)

In [6]:
df

                                                headline  category
0      [0.37533942, 0.95536953, -0.74450433, -3.20085...         2
1      [0.3806063, -0.2258882, -1.0344046, -0.5882237...         2
2      [1.7622063, 0.19124928, -2.59872, -1.8299657, ...         2
3      [0.030336391, -0.96273106, -1.6066481, -1.4785...         2
4      [-0.41738123, 1.1906976, 0.17487374, 2.0997024...         2
...                                                  ...       ...
78909  [0.17184442, -0.88757175, -2.376254, 2.152082,...         6
78910  [-3.1732721, -0.3300445, -2.6950629, 1.3340135...         6
78911  [0.5086109, 1.4069196, -2.0775373, 0.0764945, ...         6
78912  [-1.854413, -0.49389175, -0.9973587, 2.6050606...         6
78913  [-1.3913853, -0.5148914, -0.07363329, 0.777524...         6

[78914 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split

X = df["headline"]
y = df["category"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [8]:
import numpy as np

X_train_2d = np.stack(X_train)
X_test_2d = np.stack(X_test)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

logisticregression = LogisticRegression()
logisticregression.fit(X_train_2d, y_train)

y_pred = logisticregression.predict(X_test_2d)

classification_repo = classification_report(y_true=y_test, y_pred=y_pred, target_names=["BUSINESS", "ENTERTAINMENT",  "HEALTH", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo)

               precision    recall  f1-score   support

     BUSINESS       0.72      0.72      0.72      3996
ENTERTAINMENT       0.76      0.78      0.77      2739
       HEALTH       0.71      0.75      0.73      2037
      SCIENCE       0.82      0.80      0.81      1956
       SPORTS       0.86      0.86      0.86      3921
         TECH       0.81      0.75      0.78      2805
    U.S. NEWS       0.74      0.75      0.75      3069
   WORLD NEWS       0.83      0.83      0.83      3152

     accuracy                           0.78     23675
    macro avg       0.78      0.78      0.78     23675
 weighted avg       0.78      0.78      0.78     23675

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [10]:
logisticregression2 = LogisticRegression(class_weight="balanced")
logisticregression2.fit(X_train_2d, y_train)

y_pred2 = logisticregression2.predict(X_test_2d)

classification_repo2 = classification_report(y_true=y_test, y_pred=y_pred2, target_names=["BUSINESS", "ENTERTAINMENT", "HEALTH", "SCIENCE", "SPORTS", "TECH", "U.S. NEWS", "WORLD NEWS"])
print(classification_repo2)

               precision    recall  f1-score   support

     BUSINESS       0.76      0.65      0.70      3996
ENTERTAINMENT       0.74      0.79      0.77      2739
       HEALTH       0.65      0.81      0.72      2037
      SCIENCE       0.77      0.82      0.80      1956
       SPORTS       0.89      0.84      0.86      3921
         TECH       0.79      0.76      0.78      2805
    U.S. NEWS       0.74      0.76      0.75      3069
   WORLD NEWS       0.83      0.83      0.83      3152

     accuracy                           0.78     23675
    macro avg       0.77      0.78      0.77     23675
 weighted avg       0.78      0.78      0.78     23675

/usr/local/python/3.12.0/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [11]:
#import pickle

#with open("logisticnewsclassifier.pkl", "wb") as f:
#    pickle.dump(logisticregression, f)